<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CandidateTrack.Data.Properties.Settings.CandidateTrackerConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CandidateTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>