
@{
    ViewBag.Title = "AddCandidate";
}

<div class="well col-md-6 col-md-offset-3">
    <h2>Add Candidate</h2>
    <form action="/Home/AddCandidate" method="post">
        <input name="FirstName" placeholder="First Name" class="form-control" />
        <br />
        <input name="LastName" placeholder="Last Name" class="form-control" />
        <br />
        <input name="Email" placeholder="Email" class="form-control" />
        <br />
        <input name="PhoneNumber" placeholder="Phone Number" class="form-control" />
        <br />
        <textarea name="comment" placeholder="" class="form-control" rows="5" ></textarea>
        <br />
        <button class="btn btn-primary" type="submit" >Submit</button>        
    </form>
</div>

